extends ../_skeleton-component

block append variables
  - var firstParent = 'documentation'              
  - var currentPage = 'plugins'

block component
  .card.shadow-sm.mb-3
    .card-body
      h3.mb-0 Plugins
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0.contains-anchor#adding-new-plugin Adding new plugins
        a(href='#adding-new-plugin' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Adding a new plugin to your theme is simple.Here are two ways you can do that.
  
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Simple approach
    .card-body.bg-light
      p.mb-0 Place your new plugin in 
        code pages/assets/lib
        |  folder. Eg: to add the 
        code typed.js
        |  plugin, we will download it from 
        a(href="https://mattboldt.com/demos/typed-js/") here,
        |  unzip it and place the 
        code typed.js-master
        |  folder in 
        code pages/assets/lib
        |  folder.
  .card.shadow-sm.mb-3
    .card-header
      h5.mb-0 Using NPM
    .card-body.bg-light
      p Suppose we are installing the  
        code typed.js
        |  plugin. Here are the steps:
      p.font-weight-bold.text-sans-serif.mb-0 Step 1:
      pre
        code.lang-js.
          #{"Paths = {\n\t... \n\tDEPENDENCIES: {\n\t\t...\n\t\t'typed.js': {\n\t\t\tFROM: 'node_modules/typed.js/lib/*.*',\n\t\t\tTO: lib,\n\t\t},\n\t},\n\t...\n},"}
      p Here, 
        code lib
        |  refers to 
        code pages/assets/lib
        | , where gulp will copy files from the 
        code typed.js
        |  plugin. We actually use the 
        code lib
        |  folder to store neccassary plugins
      p.font-weight-bold.text-sans-serif.mb-0.mt-3 Step 3:
      p Run the following command:
      pre
        code.lang-js.
          #{'gulp copy:dependency'}
  .card.shadow-sm.mb-3
    .card-body
      h3.mb-0 Built-in plugins
  .card.shadow-sm.mb-3
    .card-header
      h5#semantic.mb-0.contains-anchor Semantic UI (Accordion)
        a(href='#semantic' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 An accordion allows users to toggle the display of sections of content.
      a(href=`${CWD}plugins/accordion.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://semantic-ui.com/modules/accordion.html' target='_blank').text-sans-serif Full Documentation

  //.card.shadow-sm.mb-3
    .card-header
      h5.mb-0.contains-anchor#chart-js Chart.js
        a(href='#chart-js' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Simple HTML5 Charts using the canvas element
      a(href=`${CWD}plugins/charts.html`).text-sans-serif Implementation in theme  
      |  - 
      a(href='https://www.chartjs.org/docs/latest/' target='_blank').text-sans-serif Full Documentation
  
  //.card.shadow-sm.mb-3
    .card-header
      h5.mb-0.contains-anchor#date-countdown Date countdown
        a(href='#date-countdown' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 A simple and html agnostic date countdown plugin for jQuery
      a(href=`${CWD}plugins/countdown.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='http://hilios.github.io/jQuery.countdown/' target='_blank').text-sans-serif Full Documentation

  //.card.shadow-sm.mb-3
    .card-header
      h5.mb-0.contains-anchor#data-table Data Table
        a(href='#data-table' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 DataTables is a plug-in for the jQuery Javascript library. It is a highly flexible tool, build upon the foundations of progressive enhancement, that adds all of these advanced features to any HTML table.
      a(href=`${CWD}plugins/data-table.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://datatables.net/' target='_blank').text-sans-serif Full Documentation
      
  //.card.shadow-sm.mb-3
    .card-header
      h5.mb-0.contains-anchor#date-picker Date Picker
        a(href='#date-picker' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Lightweight, powerful javascript datetimepicker with no dependencies.
      a(href=`${CWD}plugins/date-picker.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://flatpickr.js.org/' target='_blank').text-sans-serif Full Documentation
     
  //.card.shadow-sm.mb-3
    .card-header
      h5#fancybox.mb-0.contains-anchor FancyBox 3
        a(href='#fancybox' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 JavaScript lightbox library for presenting various types of media. Responsive, touch-enabled and customizable. 
      a(href=`${CWD}plugins/fancybox.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='http://fancyapps.com/fancybox/3/docs/' target='_blank').text-sans-serif Full Documentation
  
  //.card.shadow-sm.mb-3
    .card-header
      h5#fontawesome.mb-0.contains-anchor FontAwesome 5
        a(href='#fontawesome' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Get vector icons and social logos on your website with Font Awesome, the web's most popular icon set and toolkit. 
      a(href=`${CWD}plugins/fontawesome.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use' target='_blank').text-sans-serif Full Documentation

  //.card.shadow-sm.mb-3
    .card-header
      h5#google-map.mb-0.contains-anchor Google Map
        a(href='#google-map' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Build customized, agile experiences that bring the real world to your users with static and dynamic maps, Street View imagery, and 360° views. 
      a(href=`${CWD}plugins/google-map.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://developers.google.com/maps/documentation/javascript/tutorial' target='_blank').text-sans-serif Full Documentation
      
  //.card.shadow-sm.mb-3
    .card-header
      h5#plyr.mb-0.contains-anchor Plyr
        a(href='#plyr' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 A simple, accessible and customisable media player for Video,  Audio, YouTube and Vimeo.
      a(href=`${CWD}plugins/inline-player.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://plyr.io/' target='_blank').text-sans-serif Full Documentation
  
  //.card.shadow-sm.mb-3
    .card-header
      h5#jqvmap.mb-0.contains-anchor jqvmap
        a(href='#jqvmap' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 JQVMap is a jQuery plugin that renders 
        strong Interactive, Clickable Vector Maps
        | . It uses resizable Scalable Vector Graphics (SVG) for modern browsers like Firefox, Safari, Chrome, Opera and Internet Explorer 9.
      a(href=`${CWD}plugins/jqvmap.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://www.10bestdesign.com/jqvmap/documentation/' target='_blank').text-sans-serif Full Documentation
      
  //.card.shadow-sm.mb-3
    .card-header
      h5#lightbox.mb-0.contains-anchor Lightbox 2
        a(href='#lightbox' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Lightbox is a JavaScript library that displays images and videos by filling the screen, and dimming out the rest of the web page.
      a(href=`${CWD}plugins/lightbox.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://lokeshdhakar.com/projects/lightbox2/' target='_blank').text-sans-serif Full Documentation
      
  //.card.shadow-sm.mb-3
    .card-header
      h5.mb-0.contains-anchor#toastr Toastr
        a(href='#toastr' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 A toastr is a Javascript library for Gnome / Growl type non-blocking notifications. jQuery is required. The goal is to create a simple core library that can be customized and extended.
      a(href=`${CWD}plugins/notifications.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://codeseven.github.io/toastr/' target='_blank').text-sans-serif Full Documentation
      
  //.card.shadow-sm.mb-3
    .card-header
      h5#owl-carousel.pb-0.contains-anchor Owl carousel 2
        a(href='#owl-carousel' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Touch enabled jQuery plugin that lets you create a beautiful responsive carousel slider.
      a(href=`${CWD}plugins/owl-carousel.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://owlcarousel2.github.io/OwlCarousel2/docs/api-options.html' target='_blank').text-sans-serif Full Documentation

  //.card.shadow-sm.mb-3
    .card-header
      h5#progressbar.mb-0.contains-anchor ProgressBar.js
        a(href='#progressbar' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 With 
        code ProgressBar.js
        | , it's easy to create responsive and stylish progress bars for the web. Animations perform well even on mobile devices. It provides a few built‑in shapes like 
        code Line
        | , 
        code Circle
        |  and 
        code SemiCircle
        |  but you can also create 
        code custom
        |  shaped progress bars with any vector graphic editor.

      a(href=`${CWD}plugins/progressbar.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://kimmobrunfeldt.github.io/progressbar.js/' target='_blank').text-sans-serif Full Documentation

  //.card.shadow-sm.mb-3
    .card-header
      h5#remodal.mb-0.contains-anchor Remodal
        a(href='#remodal' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
      a(href=`${CWD}plugins/remodal.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='http://vodkabears.github.io/remodal/' target='_blank').text-sans-serif Full Documentation
      
  //.card.shadow-sm.mb-3
    .card-header
      h5#select2-plugin.mb-0.contains-anchor Select2
        a(href='#select2-plugin' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 Select2 gives you a customizable select box with support for searching, tagging, remote data sets, infinite scrolling, and many other highly used options. 
      a(href=`${CWD}plugins/select2.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://select2.org/' target='_blank').text-sans-serif Full Documentation
      
  //.card.shadow-sm.mb-3
    .card-header
      h5#ytplayer.mb-0.contains-anchor jQuery.mb.YTPlayer
        a(href='#ytplayer' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 An HTML5 Background player for YouTube video.
      a(href=`${CWD}components/background.html#ytplayer`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://pupunzi.com/mb.components/mb.YTPlayer/demo/demo.html' target='_blank').text-sans-serif Full Documentation

  //.card.shadow-sm.mb-3
    .card-header
      h5.mb-0.contains-anchor#tinymce Tinymce
        a(href='#tinymce' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 The world's most popular JavaScript library for rich text editing.

      a(href=`${CWD}plugins/tinymce.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://www.tiny.cloud/docs/quick-start/' target='_blank').text-sans-serif Full Documentation
  
  //.card.shadow-sm
    .card-header
      h5#typed-text.mb-0.contains-anchor Typed text
        a(href='#typed-text' data-fancyscroll data-offset=96) #
    .card-body.bg-light
      p.mb-0 A JavaScript library that types out, deletes them, and then types again.
      a(href=`${CWD}plugins/typed-text.html`).text-sans-serif Implementation in theme
      |  - 
      a(href='https://mattboldt.com/demos/typed-js/' target='_blank').text-sans-serif Full Documentation
