extends ../_skeleton-component
include mixins/_zion-semantic-ui-accordion

block append styles
  link(href=`${CWD}assets/lib/semantic-ui-accordion/accordion.min.css`, rel='stylesheet')
  link(href=`${CWD}assets/lib/semantic-ui-transition/transition.min.css`, rel='stylesheet')

block append scripts
  script(src=`${CWD}assets/lib/semantic-ui-accordion/accordion.min.js`)
  script(src=`${CWD}assets/lib/semantic-ui-transition/transition.min.js`)
  script(src=`${CWD}assets/lib/zion-semantic-ui-accordion/js/plugin.min.js`)

block append variables
  - var firstParent = 'plugins'
  - var currentPage = 'accordion'

block component
  .card.mb-3
    .card-body
      +PageHeader(pageHeader)
      
  .card.mb-3
    .card-header
      h5.mb-0 Stylesheet
    .card-body.bg-light
      +componentCardLib
        +accordionCSS

  .card.mb-3
    .card-header
      h5.mb-0 Javascript
    .card-body.bg-light
      +componentCardLib
        +accordionJS

  .card.mb-3
    .card-header
      h5.mb-0 Example
    .card-body.bg-light
      +accordion
