block append variables
  -
    var pageHeader = {
      title: 'Navbar',
      description: "Documentation and examples for Bootstrap’s powerful, responsive navigation header, the navbar. Includes support for branding, navigation, and more, including support for Bootstrap collapse plugin.",
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/navbar/`,
      linkText: 'Navbar on Bootstrap'
    }





mixin navigationBar(id)
  nav.navbar.navbar-expand-lg.navbar-dark.fs--1&attributes(attributes)
    a.navbar-brand(href='#') falcon
    button.navbar-toggler(type='button', data-toggle='collapse', data-target=`#navbarContent${id}`, aria-controls=`navbarContent${id}`, aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    .collapse.navbar-collapse(id=`navbarContent${id}`)
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#', role="button", data-toggle='dropdown', aria-haspopup='true', aria-expanded='false' id=`navbarDropdown${id}`)
            | Dropdown
          .dropdown-menu.dropdown-menu-right.py-0(aria-labelledby=`navbarDropdown${id}`)
            .bg-white.rounded-soft.py-2
              a.dropdown-item(href='#') Action
              a.dropdown-item(href='#') Another action
              .dropdown-divider
              a.dropdown-item(href='#') Something else here
      form.form-inline.my-2.my-lg-0
        input.form-control.form-control-sm.mr-sm-2(type='search', placeholder='Search', aria-label='Search')
        button.btn.btn-sm.btn-light.my-2.my-sm-0(type='submit') Search
