mixin brands
	.container.p-0
		.row.align-items-center.justify-content-center
			.col-6.col-sm-4.col-md-2.mb-4.mb-md-0
				//- Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/brand-1.png` alt='...')
			.col-6.col-sm-4.col-md-2.mb-4.mb-md-0
				//-Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/brand-2.png` alt='...')
			.col-6.col-sm-4.col-md-2.mb-4.mb-md-0
				//-Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/brand-3.png` alt='...')
			.col-6.col-sm-4.col-md-2.mb-4.mb-md-0
				//-Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/brand-4.png` alt='...')
			.col-6.col-sm-4.col-md-2.mb-4.mb-md-0
				//-Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/brand-5.png` alt='...')
			.col-6.col-sm-4.col-md-2.mb-4.mb-md-0
				//- Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/brand-6.png` alt='...')
		//- / .row
	//- / .container