mixin brands
	.container
		.row.align-items-center.justify-content-center
			.col-6.col-sm-4.col-md-2.mb-md-0
				//- Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/airbnb-gray.png` alt='...').mw-100
			.col-6.col-sm-4.col-md-2.mb-md-0
				//-Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/brand-2.png` alt='...').mw-100
			.col-6.col-sm-4.col-md-2.mb-md-0
				//-Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/dribbble.png` alt='...').mw-100
			.col-6.col-sm-4.col-md-2.mb-md-0
				//-Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/instagram-b.png` alt='...').mw-100
			.col-6.col-sm-4.col-md-2.mb-md-0
				//-Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/netflix.png` alt='...').mw-100
			.col-6.col-sm-4.col-md-2.mb-md-0
				//- Brand
				.img-fluid.text-gray-600.mb-2.mb-md-0.svg-shim
					img(src=`${CWD}assets/img/gallery/pinterest.png` alt='...').mw-100
		//- / .row
	//- / .container