mixin testimonials
	.container#testimonial
		.row.justify-content-center
			.col-12.col-md-10.col-lg-8.text-center
				//- Heading
				h2
					| What customers are saying about us
				//-Text
				p.text-muted.text-justify.mb-5
					| Don't just take it from us, let our customers do the talking
		//-.row
		.row.mb-n7
			.col-12.px-3.px-sm-0
				#carouselExampleControls.carousel.slide(data-ride='carousel')
					.carousel-inner.shadow-lg
						.carousel-item.active
							.card.mb-0.border-0
								.row.g-0
									.col-md-5
										img.d-block.w-100.h-100.slide-img(src=`${CWD}assets/img/gallery/slider-1.png` alt='...')
									.col-md-7
										.card-body.text-center.p-7.p-md-6.p-lg-8
											img.img-fluid.pb-3(src=`${CWD}assets/img/gallery/airbnb.png` alt='...' )
											p.card-text
												| Amazing product, it's easy to use, even if you don't have enough knowledge in React. Congrats!
											p.card-text
												small.text-muted JAVIER
						.carousel-item
							.card.mb-0.border-0
								.row.g-0
									.col-md-5
										img.d-block.w-100.h-100.slide-img(src=`${CWD}assets/img/gallery/slider-2.png` alt='...')
									.col-md-7
										.card-body.text-center.p-7.p-md-6.p-lg-8
											img.img-fluid.pb-3(src=`${CWD}assets/img/gallery/instagram-b.png` alt='...' )
											p.card-text
												| This theme is great - going to save us a lot of time. The developer is also very responsive and courteous.
											p.card-text
												small.text-muted YURI	
						.carousel-item
							.card.mb-0.border-0
								.row.g-0
									.col-md-5
										img.d-block.w-100.h-100.slide-img(src=`${CWD}assets/img/gallery/slider-3.png` alt='...')
									.col-md-7
										.card-body.text-center.p-7.p-md-6.p-lg-8
											img.img-fluid.pb-3(src=`${CWD}assets/img/gallery/pinterest.png` alt='...' )
											p.card-text
												| Great Theme, and thank you for the support team on fixing a issue on the purchase we made.
											p.card-text
												small.text-muted OTAVIO
						a.carousel-control-prev.prev-icon(href='#carouselExampleControls', role='button', data-slide='prev')
							span.carousel-control-prev-icon.rounded-pill.bg-light.hvr-float.icon-prev(aria-hidden='true')
							span.sr-only Previous
						a.carousel-control-next.next-icon(href='#carouselExampleControls', role='button', data-slide='next')
							span.carousel-control-next-icon.rounded-pill.bg-light.hvr-float.icon-next(aria-hidden='true')
							span.sr-only Next																											
	//-
		SHAPE
		==================================================
	.position-relative.mt-n11.shape-slider
		.shape.shape-bottom.shape-fluid-x.svg-shim.text-dark
			svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1440 320')
				path(fill='#F1F4F8' fill-opacity='1' d='M0,256L1440,0L1440,320L0,320Z')